/* Reset générale */ 

    /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

/* Générale */

@font-face {
    font-family: 'raleway';
    src: url('font/static/Raleway-Thin.ttf') format('truetype');
}
*
{
    font-family: 'raleway', Arial, serif; 
    color: black;   
    text-decoration: none;
    background-color: transparent;
}

/* Header */

    /* Logo + navigation PC */
    .top
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .top img
    {
        width: 10%;
    }
    .top nav
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 20%;
    }
    nav a
    {
        padding-top: 5%;
        border-top: 5px;
    }
    header nav a:hover
    {
        border-top: 5px #0065FC solid;
        color: #0065FC;
    }
    .inscrit
    {
        font-weight: 700;
        color: #0065FC;
    }

        /* Slogan PC*/
        h1
        {
            font-size: 1.5em;
            margin-top: 1%;
        }    
        .slogan
        {
            font-size: 1.5em;
            line-height: 170%;
            padding-left: 1%;
        }

/* Barre de recherche PC*/
.bouton_mobile
{
    display: none;
}
.recherche
{
    border: solid #F2F2F2;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    height: 50px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}
.fa-map-marker-alt
{
    background-color: #F2F2F2;
    padding: 3%;
    font-size: 140%;
}
.recherche .texte
{
    border : none; 
    font-weight: 600;
}
.recherche .texte:active
{
    padding: 5%;
}
.bouton_pc
{
    border: none;
    background-color: #0065FC;
    color: white;
    padding: 3%;
    font-weight: 600;
}

/* Filtres PC */
.checkbox input
{
    display: none;
}
.filtre
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1%;
}
.filtre h2
{
    font-size: 1.2em;
    margin-right: 2%;
}
.filtre_box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    flex-wrap: wrap;
}
.checkbox
{
    border: solid #F2F2F2;
    border-radius: 30px;
    overflow: hidden;
    white-space: nowrap;
    border-left: none;
    padding-right: 1%;
}
.checkbox:hover
{
    background-color: #F2F2F2;
}
.delivery-icon
{
    color: #0065FC;
    font-size: 20px;
    background-color: #F2F2F2;
    border-radius: 100%;
    padding: 20px;
}

/* Information */
.info
{
    font-size: 1em;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}
.fa-info
{
    border: #F2F2F2 solid 1px;
    padding: 1%;
    border-radius: 100%;
}

/* Tous les hébergements PC*/
.hebergement
{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2%;
}
.star
{
    color: #0065FC;
}
.nostar
{
    color: #F2F2F2;
}

        /* Hébergements populaires Pc*/
        .populaire
        {
            position: relative; 
            background-color: #F2F2F2;
            padding-top: 60px;
            padding-bottom: 1px;
            padding-left: 1%;
            padding-right: 1%;
            width: 30%;
            flex-direction: column;
            display: flex;
            align-items: center;
            height: 600px;
            justify-content: space-between;
            border-radius: 20px;
        }
        .fa-chart-line
        {
            position: absolute;
            right: 5%;
            top: 3%;
            font-size: 1.5em;
        }        
        .populaire h2
        {
            position: absolute;
            left: 3%;
            top: 3%;
            font-size: 1.5em;
        }
        .annonce_populaire
        {
            border: solid white 5px;
            border-radius: 20px;
            position: relative;
            width: 400px;
            height: 180px;
            overflow: hidden;
            box-shadow: #bdbcbc63 1px 1px 5px;
        }
        .annonce_populaire img
        {
            object-fit: contain;
            width: 300px;  
        }
        .detail_populaire
        {
            position: absolute;
            z-index: 1;
            background-color: white;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 40%;
            padding-left: 3%;
            padding-right: 6%;
        }
        .detail_populaire h3
        {
            padding-top: 10%;
            padding-bottom: 10%;
        }
        .detail_populaire .fa-star
        {
            padding-top: 40%;
        }

        /* Hébergements Marseille PC*/
        .annonce_marseille_box
        {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-content: space-between;
            width: 60%;
            background-color: #F2F2F2;
            position: relative;
            padding: 3%;
            height: 500px;
            max-height: 200%;
            border-radius: 20px;
            padding-top: 90px;
            padding-bottom: 70px;
        }
        .annonce_marseille_box h2
        {
            position: absolute;
            top: 3%;
            left: 3%;
            font-size: 1.5em;
        }
        .annonce_marseille
        {
            border: solid white 5px;
            border-radius: 20px;
            position: relative;
            width: 300px;
            height: 200px;
            object-fit: contain;
            overflow: hidden;
            box-shadow: #bdbcbc63 1px 1px 5px;
        }
        .annonce_marseille img
        {
            object-fit: contain;
            width: 300px;
        }
        .detail_marseille
        {
            position: absolute;
            z-index: 1;
            background-color: white;
            right: 0;
            left: 0;
            bottom: 0;
            width: 200%;
            height: 35%;
            padding-left: 3%;
            padding-top: 3%;
            line-height: 150%;
        }
        .annonce_marseille_box h4
        {
            position: absolute;
            bottom: 3%;
            left: 3%;
        }

/* Avtivité PC */
.activite
{
   margin: 3%; 
}
.activite_box
{
    display: flex;
    justify-content: space-between;   
}
.activite_box article
{
    position: relative;
    border: white solid 0px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: #bdbcbc63 1px 1px 5px;
}
.portrait
{
    flex-direction: column;
    justify-content: space-between;
}
.portrait img
{
    width: 400px;
    height: 500px;
    object-fit: cover;
}
.paysage article
{
    justify-content: space-between;
}
.paysage
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.paysage img
{
    width: 400px;
    height: 230px;
    object-fit: cover;
}
.details_activite
{
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 100%;
    bottom: 0;
    padding-left: 3%;
    padding-bottom: 5%;
    padding-top: 5%;
}
    
/* Footer */
footer
{
    background-color: #F2F2F2;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
}
footer nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choix
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer h3
{
    line-height: 50px;
}
footer a
{
    line-height: 20px;
}
footer a:hover
{
    font-weight: 500;
}


    /* Mobile */        
    @media screen and (max-width: 768px)
    {
        /* Header */

        /* Logo + navigation mobile */
            .top img
            {
                width: 30%;
                position: absolute;
                left: 0;
                top: 0;
            }
            .top
            {
                position: relative;                
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 100px;
            }
            .top nav .inscrit
            {
                position:absolute;
                right: 3%;
                top: 50px;
                border: none;
                padding: 0;
            }
            .nav_mobile
            {
                width: 100%;
            }
            header a
            {
                padding: 10%;
                border-bottom: #F2F2F2 solid 2px;
            }
            header nav .nav_mobile:hover
            {
                border-bottom: 5px #0065FC solid;
                border-top: 0;
                color: #0065FC;
            }
                            
        /* Slogan mobile */
            .slogan
            {
                padding: 5%;
                line-height: 200%;
            }

        /* Barre de recherche mobile */
            .bouton_pc
            {
                display: none;
            }
            .recherche
            {
                border-right: none;
                padding-right: 4%;
            }
            .bouton_mobile
            {
                display: initial;
                border: none;
            }
            .fa-search
            {
                color: white;
                background-color: #0065FC;
                padding: 90%;
                border-radius: 10px;
                font-size: 1.3em;
            }
            .fa-map-marker-alt
            {
                padding: 6%;
            }
        
        /* Filtre mobile */
            .filtre
            {
                position: relative;
                padding-top: 50px;
            }
            .filtre h2
            {
                position: absolute;
                left: 0;
                top: 0;
            }
            .delivery-icon
            {
                background-color: #DEEBFF
            }
            .checkbox:hover
            {
                background-color: #DEEBFF;
            }

        /* Hébergement mobile */
            .hebergement
            {
                flex-direction: column;
            }

        /* Hébergements populaires mobile */
            .populaire
            {
                width: 100%;
                border-radius: 0;
                padding-top: 100px;
                padding-bottom: 50px;
            }

        /* Marseille mobile */
            .annonce_marseille_box
            {
                background-color: transparent;
                height: 150%;
                padding-top: 100px;
                padding-bottom: 100px;
            }
            .annonce_marseille
            {
                width: 400px;
                margin-bottom: 20px;
            }
            .annonce_marseille img
            {
                width: 400px;
            }
        /* Activité mobile */
            .activite_box
            {
                flex-direction: column;
            }
            .activite_box article
            {
                width: 400px;
            }
            .portrait img
            {
                height: 230px;
            }
        /* Footer mobile*/
            footer nav
            {
                flex-direction: column;
                align-items: flex-start;
            }
    }