/* Général */ 

@font-face {
    font-family: 'raleway';
    src: url('font/static/Raleway-Thin.ttf') format('truetype');
}
*
{
    font-family: 'raleway', Arial, serif;    
    background-color: white;
    color: black;
    font-size: 1em;
    border: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: transparent;
}

/* Header */

    /* Header PC */
    header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 3%;
        margin-right: 3%;
    }
    header img
    {
        width: 10%;
    }
    header nav
    {
        display: flex;
        justify-content: space-around;
    }
    header div
    {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-right: 15%;
        margin-top: 4%;
    }
    nav a
    {
        text-align: center;
        justify-content: space-around;
        padding-top: 15%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .inscrit
    {
        color: #0065FC;
        font-weight: 700;
    }
    nav a:hover
    {
        color: #0065FC;
        border-top: solid #0065FC 5px;
        padding-top: 15%;
        padding-left: 5%;
        padding-right: 5%;
    }

        /* Header mobile */
        @media screen and (max-width: 1280px)
        {
            header
            {
                margin: 3%;
                position: relative;
                display: flex;
            }
            header img
            {
                width: 40%;
                margin-left: auto
            }
            .inscrit
            {
                position: absolute;
                margin-right: auto;
                top: 0;
                right: 0;
            }
            .inscrit a:active
            {
                color: #0065FC;
                border-bottom: solid #0065FC 5px;
            }
            header nav
            {
                right: auto;
                font-size: 3em;                
                flex-direction: column;
            }
            nav a
            {
                border-bottom: solid #DEEBFF;
                padding: 3%;
                padding-left: auto;
                padding-right: auto;
            }
            nav a:active
            {
                color: #0065FC;
                border-bottom: solid #0065FC 5px;
            }
        }

/* Slogan */

    /* Slogan PC */
    .slogan
    {
        margin: 3%;
    }
    .slogan h1
    {
        font-size: 1.5em;
        padding-bottom: 0.5em;
    }

        /* Slogan mobile */
        @media screen and (max-width: 1280px)
        {
            .slogan
            {
                margin: 5%;
            }
            .slogan h1
            {
                font-size: 3em;
            }
        }

/* Recherche */

    /*Recherche PC */
    .recherche div
    {
        border: solid #F2F2F2;
        width: 30%;
        border-radius: 20px;
        overflow: hidden;
        margin-left: 2%;
        margin-right: 2%;    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .fa-map-marker-alt
    {
        padding: 12px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #F2F2F2;
    }
    button
    {
        background-color: #0065FC;
        border: none;
        padding: 10px;
        color: white;
        cursor: pointer;
    }
    button:active
    {
        background-color: #DEEBFF;
    }
    .fa-search
    {
        display: none;
    }

        /*Recherche mobile */
        @media screen and (max-width: 1280px)
        {
            .recherche
            {
                display: flex;
                justify-content: space-between;            
                border: solid #DEEBFF;
                border-radius: 20px;
                margin: 3%;
                max-height: 100px;
                width: auto;
            }
            .recherche div 
            {
                border: none;
            }
            .fa-map-marker-alt
            {
                font-size: 300%;
                padding: 20%;
            }
            .recherche div button
            {
                display: none;
            }
            .fa-search
            {
                display: block;
                color: white;
                background-color: #0065FC;
                font-size: 300%;
                padding: 3%;
                border-radius: 20px;
            }
        }

/* Filtre */

    /* Filtre PC */
    .filtre
    {
        position: relative;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3%;
        flex-wrap: wrap;
    }
    .filtrebox
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3%;
        flex-wrap: wrap;
        margin-left: 10%;
        width: 100%;
    }
    .checkbox input[type="checkbox"]
    {
        visibility:hidden;
        width: 0;
    }
    .filtre .nom
    {
        font-weight: 700;
        position: absolute;
    }
    .filtre p
    {
        font-size: 1.5em;
        font-weight: 500;
        background-color: transparent;
    }
    .checkbox
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1%;
        border: solid 1px #F2F2F2;
        border-left: transparent;
        border-radius: 100px;
        box-shadow: 2px 2px 2px #deebffb6;
    }
    .checkbox:hover
    {
        background-color: #DEEBFF;
    }
    .filtre label
    {
        background-color: transparent;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .delivery-icon /*commande spé icon*/
    {
        color: #0065FC;
        background-color: #DEEBFF;
        padding: 15px;
        border-radius: 100%;
    }
        /* Filtre mobile */
        @media screen and (max-width: 1280px)
        {
            .filtre
            {
                position: relative;
                padding-top: 10%;
                width: 100%;
            }
            .filtre p
            {
                font-size: 3em;
                font-weight: 600;
                white-space:nowrap
            }
            .nom
            {
                position: absolute;
                top: 5%;
                font-weight: auto;
            }
            .filtrebox
            {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            .checkbox
            {   
                border: solid #DEEBFF 5px;
                border-radius: 90px;
                border-left: none;
                padding-right: 5%;
                margin: 1%;
            }
            .checkbox input[type="checkbox"]
            {
                display: none;
            }
            .delivery-icon
            {
                background-color: #DEEBFF;
                color: #0065FC;
                padding: 40px;
                font-size: 50px;
                border-radius: 100%;
            }
            .checkbox label:active, .checkbox p:active 
            {
                background-color: #DEEBFF;
            }
        }

/* Inter */

    /* Inter PC */
    .inter
    {
        margin: 3%;
        position: relative;
        padding-left: 3%;
        padding-top: 1%;
    }
    .fa-info
    {
        position: absolute;
        color: #0065FC;
        border: solid #F2F2F2 3px;
        border-radius: 50%;
        padding: 1%;
        font-size: 11px;
        top: 0;
        left: 0;
    }

        /* Inter mobile */
        @media screen and (max-width: 1280px)
        {
            .inter
            {
                padding-left: 8%;
            }
            .fa-info
            {
                padding: 2%;
            }
        }

/* Hébergement */

    /* Hébergement PC */
    .hebergement
    {
        display: flex;
        flex-direction: row-reverse;
        margin-right: 3%;
        align-items: flex-start;
    }
    .star
    {
        color: #0065FC;
    }
    .nostar
    {
        color: #F2F2F2;
    }
        /* Hébergement mobile */
        @media screen and (max-width: 1280px)
        {
            .hebergement
            {
                flex-direction: column;
            }
        }

/* Populaire */

    /* Populaire PC*/
    .populaire
    {
        background-color: #F2F2F2;
        position: relative;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        padding-top: 9%;
        padding-left: 3%;
        padding-right: 3%;
        border-radius: 20px;
        height: 780px;
    }
    .titre_populaire
    {
        position: absolute;
        left: 3%;
        top: 5%;
        font-size: 2em;
        background-color: #F2F2F2;
    }
    .fa-chart-line
    {
        position: absolute;
        right: 8%;
        top: 5%;
        font-size: 40px;
        background-color: transparent;
    }

        /* Populaire mobile */
        @media screen and (max-width: 1280px)
        {
            .populaire
            {
                padding-top: 200px;
                flex-direction: column;
                padding-top: auto;
                padding-left: 3%;
                padding-right: 3%;
                align-items: center;
                border-radius: auto;
                height: auto;
            }
            .titre_populaire
            {
                top: 50px;
                font-size: 60px;
            }
            .fa-chart-line
            {
                top: 50px;
                font-size: 60px;
            }
        }

/* Annonces populaire */

    /* Annonces populaire  PC */
    .annonces_populaire
    {
        border-radius: 20px;
        display: flex;
    }
    .marge_populaire
    {
        padding: 10px;
        border-radius: 20px;
        overflow: hidden;
    }
    .photo_populaire
    {
        width: 340px;
        height: 190px;
        background-size: cover;
        background-position: left;
        border-radius: 20px;
        position: relative;
    }
    .photo7
    {
        background-image: url(image/herbergements/hebergement7.jpg);
    }
    .photo8
    {
        background-image: url(image/herbergements/hebergement8.jpg);
    }
    .photo9
    {
        background-image: url(image/herbergements/hebergement9.jpg);
    }
    .details_populaire
    {
        background-color: white;
        position: absolute;
        right: 0;
        height: 95%;
        padding: 2%;
        padding-right: 3%;
        width: 50%;
    }
    .details_populaire h2
    {
        font-size: 1em;
    }
    .populaire .prix
    {
        font-size: 0.8em;
        margin: 20px;
        margin-left: 0;
    }
    .details_populaire input[type="range"]
    {
        visibility:hidden;
    }

        /* Annonces populaire  mobile */
        @media screen and (max-width: 1280px)
        {
            .annonces_populaire
            {
                flex: 1;
                margin: 30px;
            }
            .marge_populaire
            {
                padding: 20px;
                position: relative;
            }
            .photo_populaire
            {
                min-width: 800px;
                height: 400px;
                position: static;
            }
            .details_populaire
            {
                height: 100%;
                padding: 5%;
                padding-right: 15%;
                width: 40%;
            }
            .details_populaire h2
            {
                font-size: 2.4em;
            }
            .prix
            {
                font-size: 2em;
            }
        }

 /* Marseille */

    /* Marseille PC */
    .marseille
    {
        position: relative;
        padding-top: 10%;
        padding-bottom: 5%;
        margin: 3%;
        background-color: #F2F2F2;
        width: 75%;
        border-radius: 20px;
        margin-top: 0;
    }
    .titre
    {
        position: absolute;
        left: 3%;
        top: 5%;
        font-size: 3.5em;
        background-color: transparent;
    }
    .annonces_marseille
    {
        height: 20%;
        display: flex;
        flex-wrap: wrap;
        background-color: #F2F2F2;
        justify-content: space-between;
    }
    .marge
    {
        padding: 5px;
        border-radius: 20px;
        display: flex;
        margin: 15px;
    }
    .photo_marseille
    {
        min-width: 310px;
        height: 300px;
        background-size: cover;
        background-position: center;
        position: relative;
        border-radius: 20px;
    }
    .photo1
    {
        background-image: url(image/herbergements/hebergement1.jpg);
    }
    .photo2
    {
        background-image: url(image/herbergements/hebergement2.jpg);
    }
    .photo3
    {
        background-image: url(image/herbergements/hebergement3.jpg);
    }
    .photo4
    {
        background-image: url(image/herbergements/hebergement4.jpg);
    }
    .photo5
    {
        background-image: url(image/herbergements/hebergement5.jpg);
    }
    .photo6
    {
        background-image: url(image/herbergements/hebergement6.jpg);
    }

    .details
    {
        background-color: white;
        position: absolute;
        bottom: 0px;
        width: 95%;
        margin: 0;
        height: 35%;
        padding: 3%;
        border-radius: 10px;
    }
    .nom 
    {
        line-height: 2px;
        background-color: transparent;
    }
    .details h2
    {
        font-size: 1.5em;
        background-color: transparent;
    }
    .prix
    {
        font-size: 1em;
    }
    .afficher
    {
        position: absolute;
        bottom: 3%;
        font-size: 1.5em;
        left: 3%;
        background-color: transparent;
    }

        /* Marseille mobile */
        @media screen and (max-width: 1280px)
        {
            .marseille
            {
                padding-bottom: auto;
                background-color: none;
                border-radius: none;
                margin-top: 3%;
            }
            .titre
            {
                left: 20px;
                top: 10px;
            }
            .annonces_marseille
            {
                height: auto;
                background-color: none;
            }
            .marge
            {
                box-shadow: 0px 10px 5px #F2F2F2;
            }
            .photo_marseille
            {
                min-width: 800px;
                height: 400px;
                background-position: left;
            }
            .details
            {
                width: 100%;
                border-radius: none;
            }
            .nom 
            {
                line-height: 2px;
            }
            .details h2
            {
                font-size: 2.4em;
            }
            .prix
            {
                font-size: auto;
            }
            .afficher
            {
                margin: 50px;
                margin-left: 0;
                position: static;
                bottom: auto;
                font-size: auto;
                left: auto;
            }
        }
            
/* Activité */

    /* Activité PC */
    .activite
    {
        padding-top: 60px;
        position: relative;
        display: flex;
        align-content: center;
        justify-content: space-between;
        margin: 3%;
    }
    .titre_activite
    {
        position: absolute;
        left: 20px;
        top: 10px;
        font-size: 2em;
    }
    .annonces_activite
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .paysage
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .photo_activite_paysage
    {
        min-width: 400px;
        height: 180px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        border-radius: 20px;
        box-shadow: 3px 3px 2px #F2F2F2;
        margin: 15px;
        overflow: hidden;
    }
    .photo_activite_portrait
    {
        min-width: 360px;
        height: 400px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        border-radius: 20px;
        box-shadow: 3px 3px 2px #F2F2F2;
        overflow: hidden;
    }
    .activite1
    {
        background-image: url(image/activites/activite1.jpg);
    }
    .activite2
    {
        background-image: url(image/activites/activite2.jpg);
    }
    .activite3
    {
        background-image: url(image/activites/activite3.jpg);
    }
    .activite4
    {
        background-image: url(image/activites/activite4.jpg);
    }
    .activite5
    {
        background-image: url(image/activites/activite5.jpg);
    }
    .activite6
    {
        background-image: url(image/activites/activite6.jpg);
    }

    .details_activite
    {
        background-color: white;
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding: 5%;
    }

        /* Activité mobile */
        @media screen and (max-width: 1280px)
        {
        .activite
        {
            flex-direction: column;
            justify-content: space-around;
        }
        .titre_activite
        {
            left: auto;
            top: 10px;
            font-size: 3em;
        }
        .photo_activite_paysage, .photo_activite_portrait
        {
            min-width: 800px;
            height: 400px;
            background-size: cover;
            background-position: left;
            border-radius: 20px;
            position: relative;
            box-shadow: 0px 10px 5px #F2F2F2;
            margin-top: 5%;
        }
 
        .details_activite
        {
            font-size: 3em;
        }
    }

/* Footer */

    /* Footer PC */
    .footer
    {
        background-color: #F2F2F2; /*aide*/
    }
    .footer nav
    {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        background-color: transparent;
    }
    .footer ul
    {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: transparent;
        align-items: flex-start;
        width: 20%;
        background-color: transparent;
    }
    .footer li
    {
        background-color: transparent;
        justify-content: space-around;
        width: 100%;    
        padding-bottom: 2%;;
    }
    .footer a
    {
        text-decoration: none;
        background-color: transparent;
    }
    .footer a:hover
    {
        border: none;
    }
    .footer h5 
    {
        font-size: 1.1em;
        text-align: left;
        background-color: transparent;
        padding: 3%;
        padding-left: 5%;
    }

        /* Footer mobile*/
        @media screen and (max-width: 1280px)
        {
            .footer
            {
                padding: 3%;
            }
            .footer nav
            {
                flex-direction: column;
                align-items: stretch;   
            }
            .footer ul
            {
                display: none;
                flex-direction: row;
                align-items: stretch;
                line-height: 100px;
                margin-bottom: 10%;
                width: auto;
            }
            .footer li
            {
                font-size: 1.1em;
                font-weight: 600;
                line-height: 70px;
                justify-content: stretch;
                width: auto;
                padding-bottom: auto;
            }
            .footer a
            {
                text-decoration: none;
            }
            .footer h5 
            {
                    font-size: 2.5em;
                    text-align: left;
                    padding: auto;
            }
        }
