/* général */

@font-face {
    font-family: 'raleway';
    src: url('static/Raleway-Thin.ttf') format('truetype');
}
*
{
    font-family: 'raleway', Arial, serif;    
    background-color: white;
    color: black;
    font-size: 1em;
    margin: none;
}
h1
{
    font-size: 1.5em;
    text-align: left;
}

h2 + h3
{
    font-size: 1.1em;
    text-align: left;
}

/*header*/

.haut 
{
    display: flex;
    justify-content: space-between;
}
.haut img
{
    width: 10%;
}
.menu
{
    display: flex;
    list-style: none;
    width: 20%;
    min-width: 270px;
    justify-content: space-between;
    align-items: center;

}
.menu li
{
       padding-top: 20px;
}
.menu li:hover
{
    border-top: 3px #0065FC solid;
}
.inscri
{
    color: #0065FC;
    font-weight: 650;
}

/*slogan*/

/*barre de recherche*/

/*filtre*/
.filtretest
{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 10px;
    border: solid 1px #DEEBFF;
    border-left: transparent;
    border-radius: 100px;
    box-shadow: 2px 2px 2px #deebffb6;
}
.item:hover
{
    background-color: #DEEBFF;
}
.item:hover h2
{
    background-color: #DEEBFF;
}
.delivery-icon /*commande spé icon*/
{
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 15px;
    border-radius: 100%;
}

/*logement général*/

/*logement marseille*/
.marseille
{
    background-color: #F2F2F2;
    padding: 20px;
    position: relative;
    padding-top: 5%;
}
.titre
{
    position: absolute;
    left: 20px;
    top: 10px;
    background-color: #F2F2F2;
}
.annonces_marseille
{
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    justify-content: space-between;
}
.marge
{
    padding: 5px;
    border-radius: 20px;
    display: flex;
    margin: 15px;
}
.photo_marseille
{
    min-width: 300px;
    height: 210px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 20px;
}
.photo1
{
    background-image: url(../herbergements/hebergement1.jpg);
}
.photo2
{
    background-image: url(../herbergements/hebergement2.jpg);
}
.photo3
{
    background-image: url(../herbergements/hebergement3.jpg);
}
.photo4
{
    background-image: url(../herbergements/hebergement4.jpg);
}
.photo5
{
    background-image: url(../herbergements/hebergement5.jpg);
}
.photo6
{
    background-image: url(../herbergements/hebergement6.jpg);
}

.details
{
    background-color: white;
    position: absolute;
    bottom: 0px;
    width: 95%;
    padding-left: 5%;
}
.nom 
{
    line-height: 2px; /*interligne*/
}
.prix
{
    line-height: 2px;
}
.star
{
    color: #0065FC;
}













/*
.marseille h1
{
    position: absolute;
    top: 10px;
}
.marseille h3
{
    position: absolute;
    bottom: 10px;
}

/*logement populaire*/
/*
.populaire h1
{
    position: absolute;
    top: 10px;
}

/*

#logement
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.marseille
{
    background-color: #F2F2F2;
    border: 10px;
    border-radius: 10px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content : space-around;
    margin: 5px
}
.populaires
{
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5px
}
.hebergementmarseille
{
    background-color: white;
    border: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 4px black;
    display: flex;
    overflow: hidden;
    height: 30%;
    margin: 5px;
    flex-direction: column;
    align-items: center;

}
.hebergementpopulaires
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 4px black;
    display: flex;
    overflow: hidden;
    height: 30%;
    width: 60%;
    margin: 5px;
    align-items: center;
    text-align: center;

}
#categorieactivite
{    
    background-color: white;
    border: 10px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content : space-around;
}
.activite
{
    background-color: white;
    border: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #deebff63;
    width: 5%;
    height: 5%;
    display: flex;
    overflow: hidden
}


.photomarseille
{
    background-size: cover;
    width: 200px;
    height: 100px;
    border-radius: 10px;
}
.photopopulaire
{
    background-size: cover;
    width: 110px;
    height: 150px;
    border-radius: 10px;
    float: left;
}


.filtre
{
    border: 2px solid; 
    border-radius: 10px;
    width: 5%;
    height: 5%
}
.filtre:hover
{
    background-color: #DEEBFF
}
.filtre:focus
{
    background-color: #DEEBFF
}

